<footer class= "footer">
<small>
	<a href="http://www.baidu.com/">校友微博</a>
	by 王豪杰
</small>
<nav>
	<ul>
		<li><%= link_to "关于", about_path %></li>
		<li><%= link_to "联系我", contact_path %></li>
		<li>友情链接：<a href="http://www.qdu.edu.com/">青岛大学</a></li>
		</ul>
	</nav>
</footer>